*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
.way{
    height: 200px;
    width: 500%;
    position: absolute;
    background-image: url(img/road.jpg);
    bottom: 0;
    animation: higway 2s linear infinite;
}

@keyframes higway {
    100%{
        transform: translateX(-3400px);
    }

}

.city{
    width: 500%;
    height: 250px;
    background-image: url(img/city.png);
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 20s linear infinite;
}

@keyframes city {
    100%{
        transform: translateX(-1400px);
    }
}

.car{
    width: 400px;
    left: 50%;
    position: absolute;
    bottom: 100px;
    transform: translateX(-50%);
    z-index: 2;
}
.car img{
    width: 100%;
}

.balon{
    left: 50%;
    position: absolute;
    bottom: 178px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.balon img{
    width: 72px;
    height: 72px;
    animation: balon 00.1s linear infinite;
}

@keyframes balon{
    100%{
        transform: rotate(360deg);
    }
}

.front{
    position: absolute;
    left: 80px;
    bottom: -70px;
}
.back{
    position: absolute;
    left: -165px;
    bottom: -70px;
}




